
.saber {
  position: absolute;
  left: 199px; 
  top: 407px;
  width: 120px;
  height: 3px;
  background-color: white;
  border-radius: 6px/10px;
  box-shadow: 0px 0px 10px,
  0px 0px 2px inset;
  animation: glow 1.5s linear infinite;
  z-index: -1000;
}

@keyframes glow {
  from {
    color: lime; 
    box-shadow: 0 0 9px lime; 
  }
  50% {
    color: lime; 
    box-shadow: 0 0 18px lime; 
  }
  to {
    color: lime; 
    box-shadow: 0 0 9px lime; 
  }
}
